* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Dancing Script', cursive;
}

.navbar {
    padding: 0px !important;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
}

.card img {
    width: 50%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}